[project]
name = "insurance-claim"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "tensorflow>=2.20.0",
    "tflite>=2.18.0",
    "ultralytics>=8.3.228",
]
